<!DOCTYPE html>
<html>
  <head>
    <title>T3blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- BootstrapのCSS読み込み -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- jQuery読み込み -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- BootstrapのJS読み込み -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.js'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.3/css/uikit.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.3/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.3/js/uikit-icons.min.js"></script>
    <!--ulkit読み込み-->

    <%# <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script> %>

    <script async src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script async src='https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.10/vue.js'></script>
    <script async src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/highlight.min.js"></script>
    <script async src="https://sdk.amazonaws.com/js/aws-sdk-2.355.0.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/github.min.css">
    <!--マークダウンエディター-->

  </head>

  <body>
    <header>
      <nav class="uk-navbar-container nav headear" uk-navbar>
        <div class="uk-navbar-left">
          <ul class="uk-navbar-nav">
            <li class="uk-active"><a href="#">プロぶろ</a></li>
          </ul>
        </div>
        <div class="uk-navbar-right">
          <ul class="uk-navbar-nav">
            <% if user_signed_in? %>
              <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
              <li class="todo"><%= link_to "やることリスト", todo_users_path, method: :get%>
              <li><%= link_to "マイページ", "/users/mypage" %>
                <div class="uk-navbar-dropdown">
                  <ul class="uk-nav uk-navbar-dropdown-nav">
                    <li><%= link_to "投稿一覧", "/users/mypage"%></li>
                    <li><a href="#">設定</a></li>
                  </ul>
                </div>
              </li>
            <% else%>
              <li class="uk-active">
                <%= link_to "新規登録", new_user_registration_path%>
              </li>
              <li>
                <a href="#">ログイン</a>
                <%# <div class="uk-navbar-dropdown">
                  <ul class="uk-nav uk-navbar-dropdown-nav">
                      <li class="uk-active"><a href="#">Active</a></li>
                      <li><a href="#">Item</a></li>
                      <li><a href="#">Item</a></li>
                  </ul>
                </div> %>
              </li>
            <%end%>
            
          </ul>
          </div>
      </nav>
    </header>

    <%= yield %>
  </body>
</html>
